<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    {{- partial "head.html" . -}}
</head>
<body>
    {{- partial "header.html" . -}}
    <main id="main">
        <div class="index-layout">
            <div class="index-main">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "sidebar.html" . -}}
        </div>
    </main>
    {{- partial "footer.html" . -}}
    {{- partial "scripts.html" . -}}
    <script src="https://tinylytics.app/embed/{{ .Site.Params.tinylyticsid }}.js" defer></script>
</body>
</html>
